<!--The content below is only a placeholder and can be replaced.-->
<div class="container border">
  <!-- Content here -->
  <h1>Contract Audit Trail</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/auditTrail">Audit Trail</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/insights">Insights</a>
    </li>

  </ul>


  <div class="container">
    <div class="row  pt-3">
      <div class="col">

        <div class="row">
          <div class="col">
            Contract Number :
          </div>
        </div>
        <div class="row pt-2">
          <div class="col">
            <input type="text" class="form-control" id="contractNumber" placeholder="Contract Number">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>

      </div>
      <div class="col pt-2">From Date:</div>
    </div>
    
    <div class="row pt-1">
      <div class="col"></div>
      <div class="col">To Date:</div>
    </div>
  </div>

  <div class="row pt-3"></div>





  <router-outlet></router-outlet>



</div>